/* ---------- PAGE ---------- */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

.page__header {
  margin-bottom: 100px;
}

/* ---------- HEADER ---------- */

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.header__title {
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  width: 730px;
  margin: 0;
  padding-left: 64px;
  z-index: 3;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  margin: 0;
  z-index: 4;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 350ms ease;
}

.header__link:hover{
  opacity: .7;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  width: 567px;
  height: 567px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

/* ---------- LOGO ---------- */

.logo {
  display: inline-block;
  width: 183px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_footer {
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

/* ---------- DESCRIPTION ---------- */

.description {
  display: flex;
  justify-content: center;
}

.description__two-columns {
  margin-bottom: 100px;
}

/* ---------- TWO-COLUMNS ---------- */

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph:not(:first-of-type, :last-of-type) {
  margin: 30px 0;
}

.two-column__span-accent {
  font-weight: 700;
}



/* ---------- SECTION-* ---------- */

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  width: 60%;
  margin: 0;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  width: 60%;
  margin: 0;
}

.section-title_theme_dark {
  color: #fff;
  padding-top: 90px;
  margin: 0 auto 20px auto;
  position: relative;
  z-index: 3;
}

.section-subtitle_theme_dark {
  color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* ---------- DIGITS ---------- */

.digits__section-title {
  margin: 0 auto 20px;
}

.digits__section-subtitle {
  margin: 0 auto;
}

.digits__table {
  margin: 0 auto 100px;
  padding: 60px 0 0;
}

/* ---------- TABLE ---------- */

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  row-gap: 60px;
  list-style-type: none;
}

.table_theme_dark {
  margin: 80px auto 0;
  row-gap: 80px;
  padding-left: 0;
}

.table__cell {
  width: 250px;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  z-index: 1;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px;
  /* margin-bottom: 20px; */
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.table__text:not(:last-of-type) {
  margin-bottom: 20px;
}

/* ---------- FEYNMAN ---------- */

.feynman {
  background-color: #f2f2f2;
  /* margin-top: 100px; */
  position: relative;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  width: 648px;
  padding-top: 100px;
  margin: 0 auto 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 350ms ease;
}

.feynman__link:hover {
  opacity: .7;
}

.content__feynman {
  margin-bottom: 100px;
}

/* ---------- KAUFMAN ---------- */

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: -210px;
  z-index: 0;
}

.content__kaufman {
  padding-bottom: 90px;
}

/* ---------- FOOTER ---------- */

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 40px;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.footer__author {
  display: inline-block;
  padding: 18px 0;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-links {
  list-style: none;
  margin-bottom: 16px;
  padding: 0;
}

.footer__column-heading {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: opacity 350ms ease;
}

.footer__column-link:hover{
  opacity: .5;
}

.footer__social-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 20000ms linear infinite;
}

/* Techniques */

.content__techniques {
  width: 80%;
  margin: 0 auto 100px;
}

.techniques__section-title {
  margin: 0 auto 20px;
}

.techniques__section-subtitle {
  width: 920px;
  margin: 0 auto;
}

.techniques__cards {
  margin: 0 auto;
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 60px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  max-width: 920px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
}

.cards__img {
  display: block;
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}


.cards__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.cards__description {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  max-width: 95%;
  margin: 0;
}


/* Video */

.video__section-title {
  margin: 0 auto 20px;
}


.video__section-subtitle {
  margin: 0 auto 50px;
}

.video__iframes {
  margin: 0 auto;
  max-width: 1055px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

}

.video__iframe {
  width: 515px;
  height: 316px;
  /* flex-basis: 515px; */
  /* display: block; */
}

/* .video__iframe:not(:nth-of-type(2n)) {
  margin-right: 20px;
} */

/* Oakley */
.oakley {
  background-color: #f2f2f2;
}


.content__oakley {
  padding-top: 120px;
  position: relative;
}

.content__oakley::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  top: -40px;
  left: 0;
  z-index: -1;
  background-color: #f2f2f2;
}

.oakley__two-columns {
  margin: 0 auto;
}

.oakley__paragraph {
  max-width: 1015px;
}

/* Khan */

.khan {
  background-color:#f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}
.content__khan {
 padding-top: 105px;
 /* margin: 0 auto; */
}

.khan__author {
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  margin: 0;
}

.khan__title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 0;
}

.khan__quote {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  max-width: 790px;
  margin-top: 0;
  margin-bottom: 36px;
}

.khan__quote-author {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

.khan__quote-author-subline{
  font-size: 24px;
  line-height: 1.15;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 68px;
}

.khan__buy-link {
  font-size: 30px;
  line-height: 1.15;
  font-weight: 400;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 350ms ease;
}

.khan__buy-link:hover {
  opacity: .7;
}

.khan__book-container {
  display: flex;
  align-items: flex-start;
}

.khan__book-pic {
  width: 608px;
  height: 620px;
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
}

/* Resources */
.resources {
  background-color:#f2f2f2;
}
.content__resources {
  padding-top: 100px;
  padding-bottom: 217px;
}
.resources__section-title {
margin: 0 auto 20px;
}
.resources__section-subtitle {
  margin: 0 auto 80px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.resources__item {
  width: 270px;
  height: 38px;
}

.resources__logo {
  width: 100%;
  height: 100%;
  object-fit:contain;
  transition: opacity 250ms ease;
}
.resources__logo:hover {
  opacity: .5;
}



